.categories-select {
    padding: 0.4rem;
    font-size: 1rem;
    margin: 0 25px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    background: #FFFBEB;
    color: #495579;
}