.ingredients-container {
    max-width: 100%;
    height: auto;
    margin: 25px 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.ingredient-list {
    list-style: circle;
}

.ingredients-container h2 {
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.ingredients {
    flex: 30%;
}

.instructions {
    flex: 70%;
}

.ingredient {
    margin: 5px 0;
    font-size: 1rem;
}